<header class="header">
  <div class="logo-title">
    <img src="assets/images/Logo.png" alt="Logo" class="logo" />
    <h1 class="title">SmartBid</h1>
  </div>
  <nav class="desktop-buttons">
    <button class="auth-button login-button" routerLink="/login">Entrar</button>
    <button class="auth-button register-button" routerLink="/register">Cadastre-se</button>
  </nav>
  <div class="mobile-menu">
    <button class="menu-button" (click)="toggleMenu()">
      ☰
    </button>
    <div class="dropdown-menu" [class.show]="menuOpen">
      <a routerLink="/login" class="dropdown-item">Entrar</a>
      <a routerLink="/register" class="dropdown-item">Cadastre-se</a>
    </div>
  </div>
</header>
