<div class="h-screen flex items-center justify-center bg-emerald-50	">
<div class="max-w-md mx-auto mt-10 p-6 bg-white shadow rounded align-middle">
    <h2 class="text-2xl font-semibold mb-4">Login</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <input
        type="text"
        [(ngModel)]="username"
        name="username"
        placeholder="Username"
        class="w-full p-2 mb-3 border rounded"
        required
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        class="w-full p-2 mb-3 border rounded"
        required
      />
      <button
        type="submit"
        class="w-full bg-green-900 text-white py-2 rounded hover:bg-green-700"
      >
        Login
      </button>
      <p *ngIf="errorMessage" class="text-red-600 mt-3">{{ errorMessage }}</p>
    </form>
    <p class="mt-4">
      Don't have an account?
      <a routerLink="/register" class="text-green-600 bold font-medium">Register</a>
    </p>
  </div>
</div>  